.product {
	border-radius: 5px;
	background: whitesmoke;
	transition: 0.2s ease-in-out;
	width: 150px;
	margin: 10px;
	text-align: center;

	@media only screen and (max-width: 600px)  {
		width: 130px;
	}

	.details {
		display: flex;
	}

	.name {
		font-weight: bold;
		margin: 10px;

	}

	.price {
		padding: 0px;
	}

	img {
		object-fit: contain;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		max-width: 150px;

		@media only screen and (max-width: 600px)  {
			width: 130px;
		}
	}

	button {
		border-radius: 5px;
		border: 1px solid lightcoral;
		padding: 10px;
		background: transparent;
		transition: 0.15s ease-in-out;
		margin: 5px 0;
		color: lightcoral;

		&:hover {
			cursor: pointer;
			background: lightcoral;
			color: white;
		}
	}
}